*{
	margin:0;
	padding: 0;
}	
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./bg/10.jpg);
	height: 100vh; 
	background-size: cover;
	background-position: center;
	color: #fff;
}
.nav-bar{
	width:100%;
}

.nav-bar h1{
	float:left; 
	margin:20px 100px;
	font-family: cursive;
}

.nav-bar ul{
	float: right;
	list-style: none;
	margin: 40px 100px;
}
.nav-bar ul li{ 
	display: inline-flex;
	margin: 0px 0px 0px 40px;
}
.nav-bar ul li a{ 
	text-decoration: none;
	color:#fff;
}
.nav-bar ul li :hover{ 
	border-bottom: 3px solid #ffae00;
	padding-bottom: 7px; 
	color: #ffae00;
	transition: 0.6s;

}
#reservation a{
	border-radius: 10px;
	padding: 2px 20px;
	border:1px solid #fff;

}
#reservation :hover{
	transition: 0.9s;
	background-color:#000; 
	color:#fff;
}
.text-hero{
padding: 180px 0px 0px 100px;
}
.text-hero #since{
	font-family: fantasy;
	font-size: 20px;
}
.text-hero h1{
	font-family: sans-serif;
	margin-bottom: 10px;
}
.text-hero p {
	font-family: sans-serif;
	font-size: 11px;
	width: 230px;
	margin-bottom: 10px;
}
.text-hero button {
	font-family: sans-serif;
	font-size: 10px;
	padding: 5px 20px;
	border:none;
	border-radius: 5px;
	background:#ffae00;
	margin-top: 20px;
	color: #fff;
}
.text-hero button:hover {
	border-radius: 20px;
	transition: 0.9s;
}
.story{
	margin: 30px 150px 0px 400px;
	padding: 10px;
	background: #fff;
	height: 190px;
}
.story-text{
	float: right;
	padding-top: 20px;
	padding-right: 60px;
	color: #000;
}
.story-text h1{
	margin-bottom: 20px;
}
.story-text p{
	font-family: fantasy;
	width: 200px;
}
.story-img {
	float: left;
}
.story-img img{
	width: 400px;
	height: 190px;
}
#special{
	background-image: url(./bg/8.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}
.special-text{
	text-align: center;
	color: #fff;
}
.special-text h1{
	padding:  80px 0px 10px 0px ;
	font-size: 40px;
	font-family: cursive;
}
.special-text p{
	font-family: sans-serif;
	padding: 0px 400px;
	margin-bottom: 80px;
}
.row-sp{
	text-align: center;
	padding-left: 115px; 
}
.col-sp{
	margin-right: 100px;
	float: left;
	background-color: #fff;
}
.col-sp img{
	width: 180px;
	height: 150px;
}
.col-sp img:hover{
	opacity: 0.7;
	transition: 0.4s;
}
.col-sp h3{
	margin: 10px 0px;
	color: #000;
	font-family: sans-serif;

}
.col-sp p{
	color: #c8c8c8;
	margin-bottom: 20px;
}
.menu {
text-align: center;
}
.menu  h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: sans-serif;
	font-size: 30px;
}

.menu  p{
	margin-bottom: 50px;
	text-align: center;
	padding: 0px 400px;
	color: #c8c8c8;
}

.menu  button{
	margin: 30px 20px 80px 10px;
	padding: 10px 30px;
	border-radius: 200px;
	border:none;
}
.menu  button:hover{
	background-color: #80b045;
	transition: 0.9s;
}
.active {
	background-color: #80b045;

}
.Full{
	width: 100%;
}
.menu-1 {
	width: 350px;
	margin-left: 100px;
	float: left;
}

.row_menu img{
	width: 100px;
	height: 75px;
}

.text-dish{
	margin: -60px 0px 0px -140px;
	float: left;	

}

.text-dish p{
	font-size: 15px;
	width: 200px;	

}
.menu-2{

}
.row_menu-2 {
	margin-bottom:  -60px;
}

.row_menu-2 img{
	width: 100px;
	height: 75px;
	margin-left:-200px ; 
}

.text-dish-2 p{
	position: relative;
	top: -60px;
	left: 130px;
	text-align: right;
}
.text-dish-2 h5{
	position: relative;
	top: -60px;
	left: -250px;
	text-align: right;
}
#chief{
	margin: 200px;
}
.text-chief {
	float: left;
	margin-top: 70px;
}
.text-chief h1{
	margin-bottom:10px;
}
.text-chief p{
	width: 300px;
	line-height: 20px;
}
.img-chief{
	float: right;
}
.img-chief img{
	width: 500px;
	box-shadow: 0px 0px 10px 0px #000;
}
footer{
	background-color: #00001a;
	height: 415px;
	margin-top: 700px;
	font-family: sans-serif;
	font-size: 12px;
}
footer ul {
	list-style: none;
	padding:100px 0px 0px 200px;
	float: left;
}
footer ul li{
	margin-bottom: 15px;
}
footer ul li a{
	text-decoration: none;
	color:#c8c8c8;

}
.subscribe{
	padding: 100px 0px 0px 0px;
}
.subscribe h6{
	color: #fff;
	margin-left: 960px;
	font-size: 10px;
}
.subscribe input{
	padding: 5px 10px 5px 10px ;
	border-radius: 20px;
	margin-left: 110px;

}
.social{
	margin: 150px 50px 50px 400px;
}
.social img{
	width:40px;
	margin-right: 50px;
}
.social img:hover{
	opacity: 0.6;
	transition: 0.4s;
}
#design{
	font-family: fantasy;
	font-size: 20px;
	color:#fff;
	margin-left: 450px;
}